
<div class="btn btn-outline-secondary edit">
<%= link_to "<i class='fas fa-pen'></i> Edit".html_safe, edit_task_path, class: 'text-decoration-none text-secondary' %>
</div>

<% if @task.completed %>
  <div class="mt-5 container border border-success task pb-3">
    <div class="logo" style="color: green;">
      <i class="fas fa-check"></i>
    </div>
    <h5 class="card-title text-center"><%= @task.title %></h5>
    <p class="card-text"><%= @task.details %></p>
  </div>
<% else %>
  <div class="mt-5 container border border-danger task pb-3">
    <div class="logo" style="color: red;">
      <i class="fas fa-xmark"></i>
    </div>
    <h5 class="card-title text-center"><%= @task.title %></h5>
    <p class="card-text"><%= @task.details %></p>
  </div>
<% end %>

<div class="text-center mt-3">
    <%= link_to 'Back to list', tasks_path %>
</div>
